@inherits PersistentComponentBase

<div class="card">

    <h4>@Name</h4>

    <p role="status">Current count: @_count</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    <small style="margin-top:1rem;">@_infoText</small>

    <small style="margin-top:1rem;">@Description</small>

</div>
